Repository leosuncin/next-rtk-realworld-example-app: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["xo --fix"],
  "*.{json,md,css}": ["prettier --write"]
}

test(auth): amend integration tests
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
  src/features/auth/auth-mocks.ts
Due: xo --fix

chore: upgrade dependencies
  .xo-config.json
  __tests__/pages/index.spec.tsx
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
  jest.config.js
  jest.setup.ts
  next-env.d.ts
  package.json
  process-env.d.ts
  src/common/types.ts
  src/common/utils.ts
  src/features/articles/articles-api.ts
  src/features/articles/articles.slice.ts
  src/features/auth/auth-api.ts
  src/features/auth/auth-mocks.ts
  src/features/auth/signin-form.tsx
  src/features/auth/signup-form.tsx
  src/features/tags/tags-api.ts
  src/pages/index.tsx
  src/store/index.ts
  yarn.lock
Due: xo --fix, prettier --write

chore: update .gitignore
  .gitignore
Due: none

test(auth): auth layout component
  src/common/list-errors.tsx
  src/features/auth/auth-layout.spec.tsx
  src/test-utils.tsx
Due: xo --fix

style(common): move clear errors action
  src/common/actions.ts
  src/common/list-errors.tsx
  src/features/articles/articles.slice.ts
  src/features/auth/auth.slice.ts
Due: xo --fix

style(app): move redux hooks to a separate file
  __tests__/pages/index.spec.tsx
  src/app/hooks.ts
  src/app/store.ts
  src/common/list-errors.tsx
  src/common/navbar.tsx
  src/common/types.ts
  src/features/articles/article-list.tsx
  src/features/articles/articles-layout.tsx
  src/features/articles/articles-pagination.tsx
  src/features/articles/articles.slice.ts
  src/features/articles/feed-tabs.tsx
  src/features/auth/auth-layout.spec.tsx
  src/features/auth/auth-layout.tsx
  src/features/auth/auth.slice.ts
  src/features/tags/tags-sidebar.tsx
  src/features/tags/tags.slice.ts
  src/pages/_app.tsx
  src/pages/login.tsx
  src/pages/register.tsx
  src/test-utils.tsx
Due: xo --fix

feat(app): remove redux persist
  package.json
  src/app/store.ts
  src/pages/_app.tsx
  yarn.lock
Due: xo --fix, prettier --write

feat(app): install and setup next-redux-wrapper
  __tests__/pages/index.spec.tsx
  package.json
  src/app/store.ts
  src/features/articles/articles.slice.ts
  src/features/auth/auth.slice.ts
  src/features/tags/tags.slice.ts
  src/pages/_app.tsx
  yarn.lock
Due: xo --fix, prettier --write

feat(app): install and setup next-redux-cookie-wrapper
  package.json
  src/app/store.ts
  yarn.lock
Due: xo --fix, prettier --write

test(articles): fix integration tests for home page
  __tests__/pages/index.spec.tsx
  package.json
  src/features/articles/article-list.tsx
  src/features/articles/articles-layout.tsx
  src/features/articles/articles-mocks.ts
  src/features/tags/tags-mocks.ts
  yarn.lock
Due: xo --fix, prettier --write

test(auth): update integration test for login page
  __tests__/pages/login.spec.tsx
Due: xo --fix

test(auth): update integration test for login page
  __tests__/pages/register.spec.tsx
  src/features/auth/auth-mocks.ts
Due: xo --fix

test(auth): create a mocked router function
  src/features/auth/auth-layout.spec.tsx
  src/test-utils.tsx
Due: xo --fix

build(auth): install deps to connect to MongoDB
  package.json
  yarn.lock
Due: prettier --write

build(docker): add docker-compose.yml
  .env.example
  docker-compose.yml
Due: none

feat(app): connect to MongoDB
  process-env.d.ts
  src/app/db.ts
  src/common/database.middleware.ts
  src/common/error.middleware.ts
  src/pages/api/health.ts
Due: xo --fix
