Repository leosuncin/next-rtk-realworld-example-app: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["xo --fix"],
  "*.{json,md,css}": ["prettier --write"]
}

build(typescript): use paths alias
  __tests__/pages/about.spec.tsx
  __tests__/pages/index.spec.tsx
  __tests__/pages/user-details.spec.tsx
  __tests__/pages/user-list.spec.tsx
  components/list-detail.tsx
  components/list-item.tsx
  components/list.tsx
  jest.config.js
  pages/about.tsx
  pages/api/users/index.ts
  pages/index.tsx
  pages/users/[id].tsx
  pages/users/index.tsx
  tsconfig.json
  utils/sample-data.ts
Due: xo --fix, prettier --write

chore: install Redux with RTK
  package.json
  yarn.lock
Due: prettier --write

feat: configure the provider with the store
  pages/_app.tsx
  store/index.ts
Due: xo --fix

feat: use the styles from Conduit
  pages/_document.tsx
Due: xo --fix

chore: remove boilerplate code
  __tests__/pages/about.spec.tsx
  __tests__/pages/user-details.spec.tsx
  __tests__/pages/user-list.spec.tsx
  components/layout.tsx
  components/list-detail.tsx
  components/list-item.tsx
  components/list.tsx
  pages/about.tsx
  pages/api/users/index.ts
  pages/index.tsx
  pages/users/[id].tsx
  pages/users/index.tsx
  utils/sample-data.ts
Due: xo --fix

chore: define NEXT_PUBLIC_API_ROOT variable
  .env.example
  next-env.d.ts
Due: xo --fix

feat(conduit): add articles slice
  interfaces/status.enum.ts
  store/index.ts
  store/slices/articles.slice.ts
  utils/limit.ts
Due: xo --fix

feat(conduit): add interfaces
  interfaces/index.ts
Due: xo --fix

feat(conduit): add auth slice
  store/index.ts
  store/slices/auth.slice.ts
Due: xo --fix

ci(github): customize codespace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

test(conduit): register page
  __tests__/pages/register.spec.tsx
  jest.setup.ts
  package.json
  yarn.lock
Due: xo --fix, prettier --write

feat(conduit): add home page
  components/article-pagination.tsx
  components/article-preview.tsx
  components/banner.tsx
  components/feed-home.tsx
  components/footer.tsx
  components/layout.tsx
  components/navbar.tsx
  components/sidebar.tsx
  pages/index.tsx
  utils/query.ts
Due: xo --fix

ci(github): define NEXT_PUBLIC_API_ROOT
  .github/workflows/ci.yml
Due: none

test(conduit): login page
  __tests__/pages/login.spec.tsx
Due: xo --fix

build(typescript): enable es2019 lib
  tsconfig.json
Due: prettier --write

chore: load .env files during test
  jest.setup.ts
Due: xo --fix

test(conduit): list articles and tags
  __tests__/pages/index.spec.tsx
Due: xo --fix

test(conduit): wrap page with providers
  __tests__/pages/index.spec.tsx
Due: xo --fix

feat: add useDispatch and useSelector with types
  store/index.ts
Due: xo --fix

test: export function to create a store
  __tests__/pages/register.spec.tsx
  store/index.ts
Due: xo --fix

fix(conduit): clear error messages on dismount
  components/list-error.tsx
  store/shared.actions.ts
  store/slices/articles.slice.ts
  store/slices/auth.slice.ts
Due: xo --fix

feat(conduit): add tags slice
  store/index.ts
  store/slices/tags.slice.ts
Due: xo --fix

feat: setup Redux Persist
  package.json
  pages/_app.tsx
  store/index.ts
  yarn.lock
Due: xo --fix, prettier --write

feat(conduit): add register page
  components/list-error.tsx
  components/signup-form.tsx
  package.json
  pages/register.tsx
  yarn.lock
Due: xo --fix, prettier --write

feat(conduit): add login page
  components/signin-form.tsx
  pages/login.tsx
Due: xo --fix

style: move source code to `src` directory
  src/components/article-pagination.tsx
  src/components/article-preview.tsx
  src/components/banner.tsx
  src/components/feed-home.tsx
  src/components/footer.tsx
  src/components/layout.tsx
  src/components/list-error.tsx
  src/components/navbar.tsx
  src/components/sidebar.tsx
  src/components/signin-form.tsx
  src/components/signup-form.tsx
  src/interfaces/index.ts
  src/interfaces/status.enum.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/login.tsx
  src/pages/register.tsx
  src/store/index.ts
  src/store/shared.actions.ts
  src/store/slices/articles.slice.ts
  src/store/slices/auth.slice.ts
  src/store/slices/tags.slice.ts
  src/utils/limit.ts
  src/utils/query.ts
  tsconfig.json
Due: xo --fix, prettier --write

refactor(auth): change auth slice
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
  src/common/types.ts
  src/common/utils.ts
  src/components/feed-home.tsx
  src/components/navbar.tsx
  src/features/auth/auth-api.ts
  src/features/auth/auth.slice.ts
  src/pages/login.tsx
  src/pages/register.tsx
  src/store/index.ts
  src/store/slices/auth.slice.ts
Due: xo --fix

refactor(auth): change components
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
  src/components/signup-form.tsx
  src/features/auth/auth-layout.tsx
  src/features/auth/signin-form.tsx
  src/features/auth/signup-form.tsx
  src/interfaces/index.ts
  src/pages/login.tsx
  src/pages/register.tsx
Due: xo --fix

refactor(articles): change articles slice
  __tests__/pages/index.spec.tsx
  package.json
  src/components/article-pagination.tsx
  src/components/article-preview.tsx
  src/components/list-error.tsx
  src/features/articles/articles-api.ts
  src/features/articles/articles.slice.ts
  src/interfaces/index.ts
  src/pages/index.tsx
  src/store/index.ts
  src/store/slices/articles.slice.ts
  src/utils/limit.ts
  yarn.lock
Due: xo --fix, prettier --write

refactor(articles): change tags slice
  __tests__/pages/index.spec.tsx
  src/components/sidebar.tsx
  src/features/tags/tags-api.ts
  src/features/tags/tags.slice.ts
  src/interfaces/index.ts
  src/interfaces/status.enum.ts
  src/store/index.ts
  src/store/slices/tags.slice.ts
Due: xo --fix

chore: update linting settings
  .xo-config.json
Due: prettier --write

refactor(common): move components to common
  src/common/footer.tsx
  src/common/list-errors.tsx
  src/common/navbar.tsx
  src/components/list-error.tsx
  src/components/navbar.tsx
  src/features/auth/auth-layout.tsx
  src/pages/_app.tsx
Due: xo --fix

test(auth): sign in form
  __tests__/pages/login.spec.tsx
  src/features/auth/signin-form.spec.tsx
  src/features/auth/signin-form.tsx
Due: xo --fix

refactor(tags): change sidebar component
  src/features/articles/articles-layout.tsx
  src/features/tags/tags-sidebar.tsx
Due: xo --fix

refactor(articles): change components
  src/common/utils.ts
  src/components/article-pagination.tsx
  src/components/feed-home.tsx
  src/features/articles/article-list.tsx
  src/features/articles/article-preview.tsx
  src/features/articles/articles-layout.tsx
  src/features/articles/articles-pagination.tsx
  src/features/articles/articles.slice.ts
  src/features/articles/banner.tsx
  src/features/articles/feed-tabs.tsx
  src/pages/index.tsx
  src/utils/query.ts
Due: xo --fix

test(auth): sign up form
  __tests__/pages/register.spec.tsx
  src/features/auth/signup-form.spec.tsx
  src/features/auth/signup-form.tsx
Due: xo --fix

refactor: remove layout component
  src/components/layout.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/login.tsx
  src/pages/register.tsx
Due: xo --fix

test(auth): extract api mocks
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
  src/features/auth/auth-mocks.ts
Due: xo --fix

fix: add fallback image for avatar
  src/common/navbar.tsx
  src/features/articles/article-preview.tsx
Due: xo --fix

chore: setup eslint-plugin-next
  .xo-config.json
  package.json
  src/features/articles/article-list.tsx
  src/features/articles/article-preview.tsx
  src/features/articles/articles-layout.tsx
  src/features/articles/articles-pagination.tsx
  src/features/tags/tags-sidebar.tsx
  src/pages/_app.tsx
  yarn.lock
Due: xo --fix, prettier --write
